#baki 
{
    
    
    text-align: center;
    color: red;
    font-size: 300%;
    background-color: rgb(209, 250, 255);
    
}

#gence 
{
    text-align: center;
    color: red;
    font-size: 300%;
    background-color: rgb(209, 250, 255);
    
}

#sumqayit
{
    text-align: center;
    font-size: 300%;
    background-color: rgb(209, 250, 255);   
}

#quba
{
    text-align: center;
    color: greenyellow;
    font-size: 300%;
    background-color: rgb(209, 250, 255);    
}

    

